.apply button {
  padding: 1em 2em;
  border-radius: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid var(--color-white);
  background-color: var(--color-brand);
  color: var(--color-white);
  letter-spacing: 0.075em;
  cursor: pointer;
  box-shadow: 0 0 0 2px var(--color-brand);
  transition: background-color 0.2s;
}

.apply button:is(:hover, :focus) {
  outline: 0;
  background-color: var(--color-brand-dark);
}

.apply button:active {
  outline: 0;
  background-color: var(--color-brand-darker);
}
