.site-footer {
  background-color: var(--color-black);
  color: var(--color-white);
  box-shadow: 0 -12px 12px 6px hsla(0deg 0% 0% / 10%);
}

.site-footer-inner-wrapper {
  max-width: var(--site-max-width);
  margin-inline: auto;
  padding-inline: 12px;
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
}

.site-footer .logo {
  height: 48px;
  margin-bottom: 12px;
}

.site-footer address {
  font-style: normal;
  font-size: 14px;
  margin-top: 1em;
}

.site-footer .social-media-links ul {
  list-style-type: none;
  display: flex;
}

.site-footer .social-media-links ul a {
  font-size: 20px;
  display: flex;
  padding: 8px;
  color: inherit;
  transition: opacity 0.25s;
}

.site-footer .social-media-links ul:hover a {
  opacity: 0.5;
}

.site-footer .social-media-links ul:hover a:hover {
  opacity: 1;
}
