@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Jost:wght@400;600&family=Libre+Baskerville:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--font-text);
  background-color: hsl(0deg 0% 97.5%);
  color: hsl(0deg 0% 12.5%);

  --color-brand: #008c5b;
  --color-brand-light: #28bd89;
  --color-brand-dark: #006642;
  --color-black: #282829;
  --color-white: #f2f2f2;
  --site-max-width: 1024px;
  /* --font-text: "EB Garamond", serif; */
  --font-display: "Jost", sans-serif;
  --font-text: "Libre Baskerville", serif;
  --font-code: "Fira Code", monospace;
}

h2,
h3,
h4,
h5,
h6,
button,
input {
  font-family: var(--font-display);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-black);
}

::-webkit-scrollbar-thumb {
  background: var(--color-brand);
  border: 5px solid var(--color-black);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand-dark);
}
