.site-section-outer-wrapper:not(:first-child) {
  border-top: 2px solid var(--color-brand);
  background-color: var(--color-lightgray);
}

.site-section-outer-wrapper.is-dark {
  color: var(--color-white);
  background-color: var(--color-black);
}

.site-section-inner-wrapper {
  max-width: var(--site-max-width);
  margin-inline: auto;
  padding-inline: 12px;
  padding-block: 36px 48px;
}

.site-section-outer-wrapper h2 {
  color: var(--color-brand);
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 48px;
  letter-spacing: 2px;
}

.site-section-outer-wrapper.is-dark h2 {
  color: var(--color-brand-light);
}

.site-section-outer-wrapper p {
  font-size: 20px;
  line-height: 2;
  margin-bottom: 1.5em;
}
